<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLVT_DATHANG_PT.Properties.Settings.QLVT_DATHANGConnectionString"
            connectionString="Data Source=DESKTOP-C2OPAAO\SERVER01;Initial Catalog=QLVT_DATHANG;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>